body {
    margin-top: 50px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #222;
}

.top-block {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #303030;
    border-radius: 0.3rem;
    text-align: left;
}

@media (min-width: 576px) {
    .top-block {
        padding: 3rem 2rem;
    }
}

hr {
    background-color: rgba(255,255,255, .1);
}

.movie-block {
    margin-bottom: 20px;
    box-shadow: 7px 12px 20px -5px rgba(0, 0, 0, 0.56);
    transition: all ease 500ms;
}

@media (min-width: 576px) {
    .movie-block img {
        width: 100%;
        height: 360px;
    }
}

.error {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

.response-container {
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: 15px;
    right: 15px;
    background: #efefef;
    z-index: 1;
    box-shadow: 0 0 48px rgba(0,0,0,.59);
    transition: all .2s ease 0s;
}

.form-control:focus + .response-container {
    visibility: visible;
    opacity: 1;
}

.results-block {
    height: 500px;
}

.search-list {
    background: #1d1d1d;
    padding: 0 15px;
    height: 100%;
    overflow: auto;
}

.search-item {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.search-item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.item-img-wrap {
    display: block;
    width: 145px;
    height: 200px;
}

.item-img {
    display: block;
    width: 100%;
    height: 100%;
}

.item-info {
    padding-top: 10px;
    text-align: left;
}

@media (min-width: 768px) {
    .item-info {
        padding-top: 0;
        padding-left: 35px;
        flex: 1;
    }
}

.item-info-header {
    font-size: 20px;
    margin-bottom: 15px;
}

.item-info-text {
    opacity: 0.5;
}

.not-found-movie {
    background: #1d1d1d;
    color: red;
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
}
